body{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 16px;
}
header{
    margin-bottom: 50px;
}
.image-container{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 183, 255);
    border-radius: 12px;
    align-items: center;
    padding: auto;
    object-fit: cover;
    object-position: center;
}
.logo-container{
    height: 200px;
    width: 200px;
    border: 2px solid rgb(153, 160, 161);
    border-radius: 6px;
    align-items: center;
    padding: auto;
    object-fit: cover;
    object-position: center;
}
.p{
    width: 100px;
    font-size: 50px;
}
.image{
    height: 500px;
    overflow: hidden;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:4px;
    margin-bottom:16px;
}
.img-icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.harbor{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    column-gap: 50px;
}
.image1{
    overflow:hidden;
    height:200px;
    width:200px;
}

.harbor{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:top;
    column-gap: 20px;
    z-index:100;
}
.image2{
    z-index: 1050;
    position:fixed;
    height:64px;
    left:20px;
    display:flex;
    column-gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    height:90px;
    width:90px;
    overflow:hidden;
    background-color: white;
    border-bottom:12px solid rgb(22, 178, 230);
    border-radius: 200px;
}
.logo{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}
.img1{
    height:150px;
    width:150px;
    object-fit: cover;
    border-style:none;
    border-radius:100px;
    margin-right:50px;
}
p{
    color:rgb(0,0,0);
    font-size:18px;
}
.btn::placeholder{
    color:white;
}
.link{
    background-color:rgb(39, 188, 238);
    color:white;
}
.service1{
    transition:color 0.4s,background-color 0.4s;
}
.service1:hover{
    color:white;
}
.img3{
    filter:brightness(40%);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/b1.jpg');
    filter: brightness(50%);
    z-index: -1; /* Ensure the overlay is behind the content */
}

.team-banner{
    transition: all 0.15s ease-in-out;
}
.team-banner:hover{
    box-shadow: 5px 10px 6px rgba(0, 0, 0, .15);
    transform: scale(1.05);
}

.service1{
    box-shadow: 4px 4px 4px rgb(0,0,0, 0.25);
    transition:all 0.15s ease-in-out;
}
.service1:hover{
    color:white;
    box-shadow: 5px 10px 6px rgba(0, 0, 0, .15);
    transform: scale(1.05);
}
.service-Item{
    width: 140px;
    height: 140px;
    padding: 15px;
    margin-top: -70px;
    margin-bottom: 40px;
    background: #8b8787;
    border: 2px solid rgb(0, 183, 255);
    border-radius: 140px;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgb(0,0,0, 0.15);
}
.service-image{
    border: none;
}
.img3{
    filter:brightness(40%);
}

.Image{
    border: 2px solid rgb(0, 183, 255);
    border-radius: 10px;
}

.menu-item:hover .menu-link {
    background-color: rgba(64, 125, 199, 0.9);
    color: #fff; /* Change the text color if needed */
    border-radius: 10px;
}

.menu-item .menu-list{
    background-color: transparent;
    border-radius: 10px;
}

/* .menu-item .menu-list:hover{
    background-color: #898d92; 
    color: #fff; 
    border-radius: 10px;
} */

.custom-color {
    color: rgb(0, 183, 255);
}


.animated {
    animation-duration: 1s;
}
.slideInLeft {
    animation-name: slideInLeft;
}
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.profile-pic-input{
    display: inline-block;
    width: 80%;
}

