{% extends "base.html" %}

{% block title %}Artificial Insemination{% endblock %}

{% block content %}
<!-- Modal for Notifications -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-2 border-info">
            <div class="modal-header">
                <h5 class="modal-title text-info fw-bold">Notifications</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <ul id="notificationList" class="list-group">
                    <!-- Notifications will be appended here -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <div class="container-fluid " id='insemination-list'>
        <!--Artificial Insemination-->
        <div class="card text-white mb-3">
            <img class="card-img lazy" style="filter:brightness(40%); max-height:300px; object-fit:cover; object-position:center;" src="{{url_for('static',filename='auth/img/artificial.jpg')}}" alt="Image">
            <div class="card-img-overlay">
                <h3 class="card-title text-info fw-bold" style="font-family:Times New Roman,Arial;">ARTIFICIAL INSEMINATION</h3>
            <p class="card-text text-white">Record AI procedures to manage breeding schedules, track genetic improvements, and enhance your herd's reproductive efficiency.</p>
            <!-- Button to add newly inseminated cattle -->
            <div class="mb-3">
                <button type="button" class="btn btn-info shadow-sm" data-bs-toggle="modal" data-bs-target="#modalCattleInsemination" id='cattleInsemination'>
                    A. Inseminate
                </button>
            </div>
            <p class="card-text text-white"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>

        <!-- Modal for Cattle Artificial Insemination -->
        <div class="modal fade" id="modalCattleInsemination" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border border-1 border-info">
                    <div class="modal-header">
                        <h5 class="modal-title text-info fw-bold">Artificial Inseminaton</h5>
                        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form id="cattleForm">
                            <!--Vet Name-->
                            <div class="mb-3">
                                <label for="vetName" class="form-label fw-bold text-dark">Veterinary Doctor's Name:</label>
                                <input class="form-control" type="text" name='vetName' id="vetName">
                            </div>

                            <!--Date Of Insemination -->
                            <div class="mb-3">
                                <label for="dateOfInsemination" class="form-label fw-bold text-dark">Date Of Insemination:</label>
                                <input type="date" id="dateOfInsemination" class="form-control" required>
                            </div>

                            <!--Serial Number -->
                            <div class="mb-3">
                                <label for="serial Number" class="form-label fw-bold text-dark">Cattle Serial Number:</label>
                                <input type="Number" id="serialNumber" class="form-control" required>
                            </div>

                            <!--Donor's Breed-->
                            <div class="mb-3">
                                <label for="donorBreed" class="form-label text-dark fw-bold">Father's Breed:</label>
                                <select class="form-control" name="donorBreed" id="donorBreed" required>
                                    <option value="Holstein_Friesian">Holstein Friesian</option>
                                    <option value="Jersey">Jersey</option>
                                    <option value="Guernsey">Guernsey</option>
                                    <option value="Brown_Swiss">Brown Swiss</option>
                                    <option value="Ayrshire">Ayrshire</option>
                                    <option value="Milking_Shorthorn">Milking Shorthorn</option>
                                    <option value="Swedish_Red_White">Swedish Red and White</option>
                                    <option value="Montbéliarde">Montbéliarde</option>
                                    <option value="Norwegian_Red">Norwegian Red</option>
                                    <option value="Ayrshire">Ayrshire</option>
                                    <option value="Dutch_Belted">Dutch Belted (Lakenvelder)</option>
                                </select>
                            </div>

                            <!--expected Breed-->
                            <div class="mb-3">
                                <label for="calfBreed" class="form-label text-dark fw-bold">Expected Calf Breed:</label>
                                <select class="form-control" name="calfBreed" id="calfBreed" required>
                                    <option value="Holstein_Friesian">Holstein Friesian</option>
                                    <option value="Jersey">Jersey</option>
                                    <option value="Guernsey">Guernsey</option>
                                    <option value="Brown_Swiss">Brown Swiss</option>
                                    <option value="Ayrshire">Ayrshire</option>
                                    <option value="Milking_Shorthorn">Milking Shorthorn</option>
                                    <option value="Swedish_Red_White">Swedish Red and White</option>
                                    <option value="Montbéliarde">Montbéliarde</option>
                                    <option value="Norwegian_Red">Norwegian Red</option>
                                    <option value="Ayrshire">Ayrshire</option>
                                    <option value="Dutch_Belted">Dutch Belted (Lakenvelder)</option>
                                </select>
                            </div>

                            <!-- Notes -->
                            <div class="mb-3">
                                <label for="Ainseminationnotes" class="form-label fw-bold text-dark">Notes:</label>
                                <textarea name='Ainseminationnotes' id='Ainseminationnotes' class='form-control'></textarea>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info" id="CattleAInseminationButton">Submit</button>
                    </div>

                </div>
            </div>
        </div>
        <!--/ Modal for Cattle insemination -->   


        <!-- Artificial Insemination List -->
        <div class="mt-5" id='AInsemination-List'>
            <h3 class="fs-3 text-info fw-bold text-center">Vaccination List</h3>
            <div class="card border border-info border-1 shadow-lg cattle-table">
                <!-- Artificial Insemination History -->
                <div class="card bg-light border-none ">
                    <div class="table-responsive text-nowrap border">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-info fw-bold">Date</th>
                                    <th class="text-info fw-bold">Serial Number</th>
                                    <th class="text-info fw-bold">Vet Name</th>
                                    <th class="text-info fw-bold">Father Breed</th>
                                    <th class="text-info fw-bold">Mother Breed</th>
                                    <th class="text-info fw-bold">Calf Breed</th>
                                    
                                </tr>
                            </thead>

                            <tbody id="NInseminationList">
                                <!-- Artificial Insemination items will be dynamically added here -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Artificial Insemination History-->
            </div>
        </div>
    </div>
{% endblock %}