<!DOCTYPE html>

<html
lang="en"
class="light-style layout-menu-fixed layout-compact"
dir="ltr"
data-theme="theme-default"
data-assets-path="'../static/assets/"
data-template="vertical-menu-template-free">

    <head>
        <meta charset="utf-8" />
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

        <title>{%block title %}{% endblock %}</title>

        <meta name="description" content="" />

        <!--boxicons-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

        <link rel="stylesheet" href="{{url_for('static',filename='assets/vendor/fonts/boxicons.css')}}" />

        <!-- Core CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/demo.css') }}" />

        
        
        <!-- Vendors CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apex-charts.css') }}" />

        <!-- Page CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet"  href="{{ url_for('static', filename='auth/css/modified.css') }}">
        <link rel="stylesheet"  href="{{ url_for('static', filename='auth/css/header.css') }}">
        <link rel="stylesheet"  href="{{ url_for('static', filename='auth/css/login_header.css') }}">
        <link rel="stylesheet"  href="{{ url_for('static', filename='auth/css/signup.css') }}">
        <link rel="stylesheet"  href="{{ url_for('static', filename='auth/css/style.css') }}">
        <link rel="stylesheet"  href="{{ url_for('static', filename='auth/css/style1.css') }}">
        <link rel="stylesheet"  href="{{ url_for('static', filename='auth/css/style2.css') }}">
        <link rel="stylesheet"  href="{{ url_for('static', filename='auth/css/cattle.css') }}">
        <style>
            #successMessage {
            margin: 20px;
            padding: 10px;
            border-radius: 5px;
            font-size: 16px;
            transition: opacity 0.5s ease-in-out; /* Smooth fade out */
        }
        
        .alert-success {
            background-color: #d4edda;
            color: #155724;
        }
        
        .alert-danger {
            background-color: #f8d7da;
            color: #f30f26;
        }
        
        </style>   

        <!-- Helpers -->
        <script src="{{ url_for('static', filename='assets/vendor/js/helpers.js') }}"></script>
        <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
        <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
        <script src="{{url_for('static',filename='assets/js/config.js')}}"></script>

    </head>

    <body>

        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar bg-light">
            <div class="layout-container">

                <!-- Menu -->
                <aside id="layout-menu" class="layout-menu menu-vertical menu bg-info border-end border-5 border-white rounded-end-circle">
                    <div class="app-brand d-flex flex-column mb-0">
                        <div class='p-2'>
                            <div class="d-flex d-flex-row">
                                <div class='col container-fluid'>
                                    <a href="index.html" class="navbar-brand d-flex">
                                        <!--<div class="logo-1-container">-->
                                            <img class="logo-1-icon " style="width:100px; height:100px; border:1px solid rgb(0, 162, 255); border-radius:60px; border-bottom:10px solid rgb(0, 162, 255); margin-top:10px; margin-bottom:10px; margin-left:-10px;" alt="" src="{{ url_for('static', filename='auth/img/logo.png') }}"/>
                                        <!--</div>-->
                                    </a>
                                </div>
                            </div>
                        </div>

                        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none text-info bg-info">
                            <i class="bx bx-x bx-sm align-middle"></i>
                        </a>
                    </div>
        
                    <div class="menu-inner-shadow"></div>
                    <h1 class="fs-3 fw-bold text-black mb-0 text-center" style="font-family:Times New Roman,Arial,San Serif;" id="farmName">{{ current_user.farm_name }}</h1>
        
                    <ul class="menu-inner py-1 mt-3">
                        <!-- Dashboards -->
                        <li class="menu-item">
                            <a href="/home" class="menu-link menu-toggle text-white fw-bold fs-5">
                                <i class="menu-icon tf-icons bx bx-home-circle text-white"></i>
                                <div data-i18n="Dashboards">Dashboard</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-list">
                                    <a href="/home" class="menu-link text-dark fs-6 fw-bold">
                                        <div data-i18n="without menu">Home</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
            
                        <!-- Cattle management -->
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle text-white fw-bold fs-5">
                                <i class="menu-icon tf-icons bx bx-layout text-white"></i>
                                <div data-i18n="Layouts text-info">Manage Cattle</div>
                            </a>

                            <ul class="menu-sub ">
                                <li class="menu-item mb-1 menu-list">
                                    <a href="{{ url_for('cattle')}}" class="menu-link text-dark fs-5">
                                    <div data-i18n="without menu">Cattle</div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Procedures -->
                        <li class="menu-item ">
                            <a href="javascript:void(0);" class="menu-link menu-toggle text-white fw-bold fs-5">
                                <i class="menu-icon tf-icons bx bx-layout text-white"></i>
                                <div data-i18n="Layouts text-info">Procedures</div>
                            </a>
        
                                <ul class="menu-sub menu-list">
                                     <!--Treatment-->
                                     <li class="menu-item mb-1 ">
                                        <a href="/treatment" class="menu-link text-dark fs-6 fw-bold" target="_self" >
                                            <div data-i18n="without menu">Treatment</div>
                                        </a>
                                    </li>

                                    <!--Vaccination-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/vaccination" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Without navbar">Vaccination</div>
                                        </a>
                                    </li>

                                    <!--dehorning-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/dehorn" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Container">Dehorning</div>
                                        </a>
                                    </li>

                                    <!--pest control-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/pestControl" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Container">Pest Control</div>
                                        </a>
                                    </li>

                                    <!--Deworming-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/deworm" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Fluid">Deworming</div>
                                        </a>
                                    </li>

                                    <!--Heat Detection-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/heat" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Fluid">Heat Detection</div>
                                        </a>
                                    </li>

                                    <!--Artificial Insemination-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/Ainsemination" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Blank">Artificial Insemination</div>
                                        </a>
                                    </li>

                                    <!--Natural Insemination-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/Ninsemination" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Blank">Natural Insemination</div>
                                        </a>
                                    </li>

                                    <!--Pregnancy-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/pregnancy" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Fluid">Pregnancy</div>
                                        </a>
                                    </li>

                                    <!--Miscarriage-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/miscarriage" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Fluid">Miscarriage</div>
                                        </a>
                                    </li>

                                    <!--Calving-->
                                    <li class="menu-item mb-1 menu-list">
                                        <a href="/calving" class="menu-link text-dark fs-6 fw-bold" target="_self">
                                            <div data-i18n="Fluid">Calving</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </li>
            
                        <!-- Workers-->
                        <li class="menu-item menu-list">
                            <a href="javascript:void(0);" class="menu-link menu-toggle text-white fw-bold fs-5">
                                <i class="menu-icon tf-icons bx bx-dock-top text-white"></i>
                                <div data-i18n="Front Pages">Manage Workers</div>
                            </a>

                            <ul class="menu-sub">

                                <li class="menu-item menu-list">
                                    <a
                                    href="{{ url_for('worker_profile')}}"
                                    class="menu-link text-dark fs-6 fw-bold"
                                    target="_self">
                                        <div data-i18n="Pricing">workers</div>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <!-- Milk-->
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle text-white fw-bold fs-5">
                                <i class="menu-icon tf-icons bx bx-store text-white"></i>
                                    <div data-i18n="Front Pages">Milk</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item mb-1 menu-list">
                                    <a
                                    href="{{ url_for('milkProduction')}}"
                                    class="menu-link text-dark fs-6 fw-bold"
                                    target="_self">
                                        <div data-i18n="Landing">Daily Production</div>
                                    </a>
                                </li>

                                <li class="menu-item menu-list">
                                    <a
                                    href="/sales"
                                    class="menu-link text-dark fs-6 fw-bold"
                                    target="_self">
                                        <div data-i18n="Pricing">Sales</div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- Inventory-->
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle text-white fw-bold fs-5">
                                <i class="menu-icon tf-icons bx bx-layout text-white"></i>
                                <div data-i18n="Front Pages">Inventory</div>
                            </a>
                            <ul class="menu-sub">
                                <li class="menu-item mb-1 menu-list">
                                    <a
                                    href="/feeds"
                                    class="menu-link text-dark fs-6 fw-bold"
                                    target="_self">
                                        <div data-i18n="Landing">Feeds</div>
                                    </a>
                                </li>

                                <li class="menu-item mb-1 menu-list">
                                    <a
                                    href="/medicine"
                                    class="menu-link text-dark fs-6 fw-bold"
                                    target="_self">
                                        <div data-i18n="Pricing">Medicine</div>
                                    </a>
                                </li>

                                <li class="menu-item menu-list">
                                    <a
                                    href="/machinery"
                                    class="menu-link text-dark fs-6 fw-bold"
                                    target="_self">
                                        <div data-i18n="Pricing">Farm Machinery</div>
                                    </a>
                                </li>                            
                            </ul>
                        </li>

                        <!-- Reports-->
                        <li class="menu-item mb-1 menu-list">
                            <a
                                href="{{ url_for('milkReport')}}"
                                class="menu-link text-dark fs-6 fw-bold"
                                target="_self">
                                    <div data-i18n="Pricing">
                                        Reports
                                    </div>
                            </a>
                        </li>

                    
                

                        <!-- Authetications -->
                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle text-white fw-bold fs-5">
                                <i class="menu-icon tf-icons bx bx-lock-open-alt text-white"></i>
                                <div data-i18n="Authentications">Authentications</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item mb-1 menu-list">
                                    <a href="/forgot" class="menu-link text-white fs-6 fw-bold" target="_blank">
                                        <div data-i18n="Basic">Reset Password</div>
                                    </a>
                                </li>

                                <li class="menu-item menu-list">
                                    <a href="/index" class="menu-link text-white fs-6 fw-bold" target="_self">
                                        <div data-i18n="Basic">Logout</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <!-- / Menu -->

                <!-- Layout container -->
                <div class="layout-page">

                    <div class="row bg-info border-bottom border-3 border-dark shadow-sm px-5 mt-0">
                        <h1 class="fs-2 fw-bolder text-white mb-1 text-center" style="font-family:Times New Roman,Arial,San Serif;" id="farmName">{{ current_user.farm_name }}</h1>
                    </div>

                    <!-- Navbar -->
                    <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center shadow-lg bg-navbar-theme border-info border-3 border-bottom  fixed-top rounded-pill" id="layout-navbar">

                        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                <i class="bx bx-menu-alt-left bx-sm"></i>
                            </a>
                        </div>
        
                        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                            <!-- Search -->
                            <div class="navbar-nav align-items-center mt-3">
                                <div class="nav-item d-flex align-items-center">
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control border-0 shadow-none ps-1 ps-sm-2"
                                            placeholder="Search..."
                                            aria-label="Search..." />
                                    </div>
                                </div>
                            </div>
                            <!-- /Search -->

                            <ul class="navbar-nav flex-row align-items-center ms-auto">

                                <!-- Place this tag where you want the button to render. -->
                                <li class="nav-item lh-1 me-3 ms-2">
                                    <a
                                        class="github-button"
                                        href="#"
                                        data-icon="octicon-star"
                                        data-size="large"
                                        data-show-count="true"
                                        aria-label="Star"
                                        >Messages .</a>
                                </li>
                


                                <!-- User -->
                                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                    <a id="dropdownToggle" class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);">
                                        <div class="avatar avatar-online">
                                            <img src="{{current_user.photo_url}}" alt class="w-px-40 h-auto rounded-circle border border-2 border-info" />
                                        </div>
                                    </a>

                                    <ul id="dropdownMenu" class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="d-flex">
                                                    <div class="flex-shrink-0 me-3">
                                                        <div class="avatar avatar-online">
                                                            <img src="{{current_user.photo_url}}" alt class="w-px-40 h-auto rounded-circle" />
                                                        </div>
                                                    </div>

                                                    <div class="flex-grow-1" data-bs-toggle="modal" data-bs-target="#modalMyProfile" id='myProfile'>
                                                        <span class="fw-medium d-block">{{current_user.name}}</span>
                                                        <small class="text-muted">{{current_user.user_type}}</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalMyProfile" id='myProfile'>
                                                <i class="bx bx-user me-2"></i>
                                                <span class="align-middle" >My Profile</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#editProfileModal" id="editProfileButton">
                                                <i class="bx bx-cog me-2"></i>
                                                <span class="align-middle">Edit profile</span>
                                            </a>
                                        </li>

                                        <li>
                                            <div class="dropdown-divider"></div>
                                        </li>

                                        <li>
                                            <a class="dropdown-item" href="/index">
                                                <i class="bx bx-power-off me-2"></i>
                                                <span class="align-middle">Log Out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                
                                <!--/ User -->
                                
                            </ul>
                        </div>
                    </nav>
<!-- Success and error message element -->
<div id="successMessage" class="alert" role="alert" style="display:none;"></div>

                    <!-- / Navbar -->

                    <!-- Modal For My Profile -->
                    <div class="modal fade" id="modalMyProfile" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content border border-3 border-info">

                                <div class="modal-header">
                                    <h5 class="modal-title text-info fw-bold fs-2">My Profile</h5>
                                    <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                    
                                <div class="modal-body">
                                    <!-- My Profile -->
                                    <div class="row mb-5">
                                        <div class="col-lg">
                                            <div class="card mb-3 border border-2 border-info shadow-lg">
                                                <div class="row g-0">
                                                    <div class="col bg-light">
                                                        <div class="px-auto ms-5">
                                                            <img src="{{current_user.photo_url}}" class="card-img-top border border-1 border-info w-px-100 h-auto rounded-circle ms-5" alt="myprofile">
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text"><span class="text-info fw-bold fs-4">Name:</span>{{current_user.name}}<span id="Name"></span></p>
                                                            <p class="card-text"><span class="text-info fw-bold fs-4">Farm Name:</span> <span id="farmName">{{current_user.farm_name}}</span></p>
                                                            <p class="card-text"><span class="text-info fw-bold fs-4">Email:</span><span id="email">{{current_user.email_address}}</span></p>
                                                            <p class="card-text"><span class="text-info fw-bold fs-4">Location:</span><span id="farmId">{{current_user.address}}</span></p>
                                                            <p class="card-text"><span class="text-info fw-bold fs-4">Phone Number:</span><span id="phoneNumber">{{current_user.phone_number}}</span></p>
                                                            <p class="card-text"><span class="text-info fw-bold fs-4">Number Of Cattle:</span><span id="cattleNo"></span></p>
                                                            <p class="card-text"><span class="text-info fw-bold fs-4">Number Of Workers:</span><span id="workersNo"></span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ My Profile -->

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- / Modal For  Profile-->

                    <!-- Modal For Edit Profile -->
<!-- Modal For Edit Profile -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-hidden="true" data-user-id="{{ current_user.id }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-2 border-info">
            <div class="modal-header">
                <h5 class="modal-title text-info fw-bold">Edit Profile</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-profile-form" enctype="multipart/form-data">
                    <!-- Photo Upload -->
                    <div class="mb-3">
                        <input class="form-control profile-pic-input" type="file" id="photoFile" name="photo" accept="image/jpeg, image/png, image/jpg"/>
                    </div>
                    <!-- Name -->
                    <div class="mb-3">
                        <label for="name" class="form-label text-dark fw-bold">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" value="{{ current_user.name }}" required>
                    </div>
                    <!-- Email Address -->
                    <div class="mb-3">
                        <label for="email_address" class="form-label text-dark fw-bold">Email:</label>
                        <input type="email" id="email_address" name="email_address" class="form-control" value="{{ current_user.email_address }}" required>
                    </div>
                    <!-- Current Password (for validation) -->
                    <div class="mb-3">
                        <label for="current_password" class="form-label text-dark fw-bold">Current Password (Confirm it is you):</label>
                        <input type="password" id="current_password" name="current_password" class="form-control" required>
                    </div>
                    <!-- Phone Number -->
                    <div class="mb-3">
                        <label for="phone_number" class="form-label text-dark fw-bold">Phone Number:</label>
                        <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ current_user.phone_number }}" required>
                    </div>
                    <!-- Address -->
                    <div class="mb-3">
                        <label for="address" class="form-label text-dark fw-bold">Address:</label>
                        <input type="text" id="address" name="address" class="form-control" value="{{ current_user.address }}" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="submitProfileBtn">Update Profile</button>
            </div>
        </div>
    </div>
</div>

        
                    <!-- Content wrapper -->
                    <div class="content-wrapper">

                        <!-- Content -->
                        <div class="container-xxl flex-grow-1 container-p-y mb-0">
                            {% block content %}{% endblock %}
                        </div>
                        <!-- / Content -->
                    
                        <!-- Footer -->
                        <footer class="content-footer footer text-info bg-footer-theme bg-secondary" style="border-top: 2px solid rgb(0, 162, 255);">
                            <div class="container-xxl d-flex flex-wrap justify-content-center py-2 flex-md-row flex-column">
                                <div class="mb-2 mb-md-0 d-flex align-items-center">

                                    <div class="image-footer-1">
                                        <img class="logo-1-icon" style="width:50px; height:50px; border:1px solid rgb(0, 162, 255); border-radius:50%; border-bottom:10px solid rgb(0, 162, 255); margin:10px 0; margin-left:-10px;" alt="" src="{{ url_for('static', filename='auth/img/logo.png') }}"/>
                                    </div>
                                    &nbsp;

                                    <div class="col">©</div>
                                    &nbsp;

                                    <script>
                                        document.write(new Date().getFullYear());
                                    </script>, made by
                                    <a href="#" target="_self" class="footer-link fw-medium text-brown">&nbsp;DAIRY HARBOR</a>
                                </div>
                                
                                <div class="d-none d-lg-inline-block ms-auto">
                                    <a href="#" class="footer-link me-4" target="_self">License</a>
                                    <a href="#" target="_self" class="footer-link me-4">Documentation</a>
                                    <a href="#" target="_self" class="footer-link">Support</a>
                                </div>
                            </div>
                        </footer>
                        <!-- / Footer -->

                        <div class="content-backdrop fade"></div>

                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->

                <!-- Overlay -->
                <div class="layout-overlay layout-menu-toggle"></div>
            </div>
        </div>
        <!-- / Layout wrapper -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-info text-info btn-lg btn-lg-square rounded-circle back-to-top">
            <i class='bx bxs-up-arrow icon text-white'></i>
        </a>

     

<script>        
    document.addEventListener('DOMContentLoaded', function() {
    const dropdownToggle = document.getElementById('dropdownToggle');
    const dropdownMenu = document.getElementById('dropdownMenu');
    const userId = "{{ current_user.id }}";
    console.log('User ID:', userId);

    dropdownToggle.addEventListener('click', function(event) {
        event.stopPropagation(); // Prevent click event from bubbling up to document
        dropdownMenu.classList.toggle('show');
        console.log('Dropdown toggled');
    });

    document.addEventListener('click', function() {
        if (dropdownMenu.classList.contains('show')) {
            dropdownMenu.classList.remove('show');
            console.log('Dropdown menu closed');
        }
    });

    dropdownMenu.addEventListener('click', function(event) {
        event.stopPropagation(); // Prevent click event from hiding the menu when clicking inside it
    });

    // Handle form submission for profile update
    const submitProfileBtn = document.getElementById('submitProfileBtn');
    if (submitProfileBtn) {
        submitProfileBtn.addEventListener('click', function() {
            console.log('Update Profile button clicked');
            submitForm();
        });
    } else {
        console.error('Submit Profile button not found');
    }
});

// Define the submitForm function
function submitForm() {
    console.log('submitForm function called');
    const form = document.getElementById('edit-profile-form');
    const formData = new FormData(form);
    const userId = "{{ current_user.id }}";
    console.log('User ID in submitForm:', userId);

    // First, upload the photo if a new one is selected
    if (formData.get('photo').name) {
        console.log('New photo selected, uploading...');
        const photoFormData = new FormData();
        photoFormData.append('photo', formData.get('photo'));

        fetch('/upload-photo', {
            method: 'POST',
            body: photoFormData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log('Photo uploaded successfully');
                // After successfully uploading the photo, update the profile
                updateProfile(formData, data.photo_url);
            } else {
                showMessage('Error uploading photo: ' + data.message, 'danger');
                console.error('Error uploading photo:', data.message);
            }
        })
        .catch(error => {
            showMessage('Error uploading photo: ' + error.message, 'danger');
            console.error('Error uploading photo:', error);
        });
    } else {
        console.log('No new photo selected, updating profile...');
        // If no new photo is selected, just update the profile
        updateProfile(formData);
    }
}

function updateProfile(formData, photoUrl = null) {
    console.log('updateProfile function called');
    const userId = "{{ current_user.id }}";
    const profileData = {
        name: formData.get('name'),
        email_address: formData.get('email_address'),
        phone_number: formData.get('phone_number'),
        address: formData.get('address'),
        current_password: formData.get('current_password')
    };

    if (photoUrl) {
        profileData.photo_url = photoUrl;
    }

    fetch(`/api/profile/${userId}`, {
        method: 'PUT',
        body: JSON.stringify(profileData),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.message === 'Profile updated successfully') {
            console.log('Profile updated successfully');
            showMessage('Profile updated successfully', 'success');
            // Optionally close the modal
            $('#editProfileModal').modal('hide');
            // Simulate click on close button
            const modalCloseButton = document.querySelector('#editProfileModal .btn-close');
            if (modalCloseButton) {
                console.log('Closing modal...');
                modalCloseButton.click(); // Simulate click on close button
            } else {
                console.error('Close button not found in modal');
            }
            fetchAndFillProfileData();
            // Reload the page
            window.location.reload();
        } else {
            showMessage('Error updating profile: ' + data.message, 'danger');
            console.error('Error updating profile:', data.message);
        }
    })
    .catch(error => {
        showMessage('Error updating profile: ' + error.message, 'danger');
        console.error('Error updating profile:', error);
    });
}

function fetchAndFillProfileData() {
    const userId = "{{ current_user.id }}"; // Replace with the actual user ID if necessary
    fetch(`/api/profile/${userId}`)
        .then(response => response.json())
        .then(data => {
            if (data.name) {
                // Assuming you have elements with these IDs to update
                document.getElementById('name').value = data.name;
                document.getElementById('email_address').value = data.email_address;
                document.getElementById('phone_number').value = data.phone_number;
                document.getElementById('address').value = data.address;
                // Update photo URL if applicable
                const profilePic = document.getElementById('profilePic');
                if (profilePic) {
                    profilePic.src = data.photo_url || '/path/to/default/profile-pic.jpg';
                }
            } else {
                console.error('Error fetching profile data:', data.message);
            }
        })
        .catch(error => console.error('Error fetching profile data:', error));
}

// Function to display messages
function showMessage(message, type) {
    const successMessage = document.getElementById('successMessage');
    if (successMessage) {
        // Set class based on message type
        successMessage.className = `alert alert-${type}`;
        successMessage.textContent = message;
        successMessage.style.display = 'block'; // Show the message
        setTimeout(() => {
            successMessage.style.display = 'none'; // Hide the message after 5 seconds
        }, 5000);
    } else {
        console.error('Success message element not found');
    }
}


// HANDLING LOGOUT FOR FARMER

// Function to handle logout
async function handleLogout() {
    console.log('handleLogout function called');
    const response = await fetch('/farmer/logout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        }
    });

    const data = await response.json();

    if (response.ok) {
        console.log('Logout successful');
        // Redirect to login page after successful logout
        window.location.href = data.redirect;
    } else {
        // Handle logout error (optional)
        console.error('Logout failed:', data.message);
    }
}

// Add event listeners to the logout links
document.getElementById('logoutLink1').addEventListener('click', handleLogout);
document.getElementById('logoutLink2').addEventListener('click', handleLogout);

</script>                
        

        
        <!-- Core JS -->
        <!-- build:js assets/vendor/js/core.js -->
        <script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
        <!-- endbuild -->

        <!-- Vendors JS -->
        <!-- <script src="{{ url_for('static', filename='assets/vendor/libs/apex-charts/apexcharts.js') }}"></script> -->

        <!-- Main JS -->
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>



        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Include ApexCharts JS -->
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script type="module" src="{{ url_for( 'static', filename='/assets/vendor/libs/apex-charts/apexcharts.js')}}"></script>
        <!-- Include your custom script -->


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='auth/lib/wow/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='auth/lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='auth/lib/waypoints/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='auth/lib/owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='auth/lib/counterup/counterup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='auth/lib/parallax/parallax.min.js') }}"></script>
        <script src="{{ url_for('static', filename='auth/lib/lightbox/js/lightbox.min.js') }}"></script>

        <!-- Template Javascript -->
        <script src="{{ url_for('static', filename='auth/js/main.js') }}"></script>

        <!-- Page JS -->
        <script src="{{ url_for('static', filename='assets/js/dashboards-analytics.js') }}"></script>
        <script src="{{url_for('static',filename='js/login.js')}}"></script>

        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script> 
        
    </body>
</html>