{% extends "base.html" %}

{% block title %}Cattle{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Cattle management content -->
        <h2 class="mt-5 mb-3">Cattle Management</h2>

        <div class="card text-white mb-3">
            <img class="card-img" style="filter:brightness(40%); max-height:300px; object-fit:cover; object-position;center;" src="{{url_for('static',filename='auth/img/carousel-11.jpg')}}" alt="Image">
            <div class="card-img-overlay">
                <h3 class="card-title text-info" style="font-family:Times New Roman,Arial;">FARM NAME</h3>
            <p class="card-text text-white">Since using Dairy Harbor, my farm's productivity has skyrocketed. The platform's comprehensive tools have made it easy to track my livestock, monitor milk production, and manage feed schedules efficiently. It's user-friendly and has saved me so much time and effort. Dairy Harbor has truly transformed the way I run my farm, and I couldn't be happier with the results.</p>
            <p class="card-text text-white"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-6 mb-3 mb-sm-0">
                <div class="card row">
                    <div class="card-body text-center">
                        <h3 class="card-title text-info" style="font-family:Times New Roman,Arial;">FARM STATS</h3>
                        <p class="card-text"><span>Cows:</span>&nbsp;5</p>
                        <p class="card-text"><span>Bulls:</span>&nbsp;5</p>
                        <p class="card-text"><span>Calves:</span>&nbsp;5</p>
                        <a href="#" class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <!-- Button to add new cattle -->
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#modalCattleRegistration" id='cattleRegistration'>
                            Add Cattle
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Cattle Registration -->
        <div class="modal fade" id="modalCattleRegistration" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border border-3 border-info">
                    <div class="modal-header">
                        <h5 class="modal-title text-info">Add Cattle</h5>
                        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form id="cattleForm">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" id="name" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label for="dateOfBirth" class="form-label">Date of Birth:</label>
                                <input type="date" id="dateOfBirth" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label for="formFile" class="form-label">Photo:</label>
                                <input class="form-control" type="file" id="photo" name="photo">
                                <button type="button" onclick="uploadImage()" class="mt-2 btn btn-primary">Upload Image</button>
                            </div>


                            <div class="mb-3">
                                <label for="breed" class="form-label">Breed:</label>
                                <select class="form-control" name="breed" id="breed" required>
                                    <!-- Options will be populated dynamically by JavaScript -->
                                        <option value="Holstein">Holstein</option>
                                        <option value="Jersey">Jersey</option>
                                        <option value="Guernsey">Guernsey</option>
                                        <option value="Brown Swiss">Brown Swiss</option>
                                        <option value="Ayrshire">Ayrshire</option>
                                    
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="fatherBreed" class="form-label">Father's Breed:</label>
                                <select class="form-control" name="fatherBreed" id="fatherBreed" required>
                                    <option value="Angus">Angus</option>
                                    <option value="Hereford">Hereford</option>
                                    <option value="Charolais">Charolais</option>
                                    <option value="Simmental">Simmental</option>
                                    <option value="Limousin">Limousin</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="motherBreed" class="form-label">Mother's Breed:</label>
                                <select class="form-control" name="motherBreed" id="motherBreed" required>
                                    <option value="Holstein">Holstein</option>
                                    <option value="Jersey">Jersey</option>
                                    <option value="Guernsey">Guernsey</option>
                                    <option value="Brown Swiss">Brown Swiss</option>
                                    <option value="Ayrshire">Ayrshire</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="methodBred" class="form-label">Method Bred:</label>
                                <select class="form-control" name="methodBred" id="methodBred" required>
                                    <option value="Natural">Natural</option>
                                    <option value="Artificial Insemination">Artificial Insemination</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="adminId" class="form-label">Admin ID:</label>
                                <select class="form-control" type="number" name='adminId' id="adminId" required>
                                    <option value="adminId1">1</option>
                                    <option value="adminId2">2</option>
                                </select>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="addCattleButton">Add Cattle</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cattle List -->
        <div class="mt-5">
            <h3>Cattle List</h3>
            <div class="card border border-info border-3 shadow-lg cattle-table">
                <!-- Cattle History -->
                <div class="card bg-light border-none ">
                    <div class="table-responsive text-nowrap border">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-info fw-bold">#</th>
                                    <th class="text-info fw-bold">Serial Number</th>
                                    <th class="text-info fw-bold">Name</th>
                                    <th class="text-info fw-bold">Breed</th>
                                    <th class="text-info fw-bold">Date Of Birth</th>
                                    <th class="text-info fw-bold">Delete</th>
                                    
                                </tr>
                            </thead>

                            <tbody id="cattleList">
                                <!-- Cattle items will be dynamically added here -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Cattle History-->
            </div>
        </div>

    </div>
{% endblock %}