{% if current_user.user_type == 'farmer' %}
    {% extends "base.html" %}   
{% else %}
    {% extends "workerbase.html" %}
{% endif %}

{% block title %}Equipments{% endblock %}

{% block content %}
<!-- Modal for Notifications -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-2 border-info">
            <div class="modal-header">
                <h5 class="modal-title text-info fw-bold">Notifications</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <ul id="notificationList" class="list-group">
                    <!-- Notifications will be appended here -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Equipments -->
<div class="card text-white mb-3">
    <img class="card-img lazy" style="filter:brightness(40%); max-height:300px; object-fit:cover; object-position:center;" src="{{url_for('static',filename='auth/img/farmmachinery.jpg')}}" alt="Image">
    <div class="card-img-overlay">
        <h3 class="card-title text-info fw-bold" style="font-family:Times New Roman,Arial;">Equipments</h3>
        <p class="card-text text-white">Track and manage equipment purchases, usage, and schedules to ensure smooth farm operations.</p>
        <!-- Button to add new equipment -->
        <div class="mb-3">
            <button type="button" class="btn btn-info shadow-sm" data-bs-toggle="modal" data-bs-target="#modalEquipment" id='addEquipmentButton'>
                Add Equipment
            </button>
        </div>
    </div>
</div>

<!-- Modal for Equipment -->
<div class="modal fade" id="modalEquipment" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border border-1 border-info">
            <div class="modal-header">
                <h5 class="modal-title text-info fw-bold">Equipment</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="equipmentForm">
                    <!-- Date of Purchase -->
                    <div class="mb-3">
                        <label for="purchaseDate" class="form-label fw-bold text-dark">Date Of Purchase:</label>
                        <input type="date" id="purchaseDate" name="purchaseDate" class="form-control" required>
                    </div>
                
                    <!-- Equipment Name -->
                    <div class="mb-3">
                        <label for="equipmentName" class="form-label text-dark fw-bold">Name:</label>
                        <input type="text" id="equipmentName" name="equipmentName" class="form-control" required>
                    </div>
                
                    <!-- Quantity -->
                    <div class="mb-3">
                        <label for="quantity" class="form-label fw-bold text-dark">Size:</label>
                        <input type="number" id="quantity" name="quantity" class="form-control" required>
                    </div>
                
                    <!-- Price -->
                    <div class="mb-3">
                        <label for="price" class="form-label text-dark fw-bold">Total Cost (Ksh.):</label>
                        <input type="number" id="price" name="price" class="form-control" required>
                    </div>

                    <!-- Agent -->
                    <div class="mb-3">
                        <label for="agent" class="form-label text-dark fw-bold">Agent:</label>
                        <input type="text" id="agent" name="agent" class="form-control" required>
                    </div>
                </form>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="addEquipment">Add Equipment</button>
            </div>

        </div>
    </div>
</div>
<!-- / Modal for Equipment -->

<!-- Equipment List -->
<div class="mt-5" id='equipment-List'>
    <h3 class="fs-3 text-info fw-bold">Equipment List</h3>
    <div class="card border border-info border-1 shadow-lg equipment-table shadow-lg">
        <!-- Equipment History -->
        <div class="card bg-light border-none ">
            <div class="table-responsive text-nowrap border">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-info fw-bold">Date</th>
                            <th class="text-info fw-bold">Equipment Name</th>
                            <th class="text-info fw-bold">Quantity</th>
                            <th class="text-info fw-bold">Price</th>
                            <th class="text-info fw-bold">Agent</th>
                            <th class="text-info fw-bold">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="equipmentTable">
                        <!-- Equipment data will be dynamically appended here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Editing Equipment -->
<div class="modal fade" id="editEquipmentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border border-1 border-info">
            <div class="modal-header">
                <h5 class="modal-title text-info fw-bold">Edit Equipment</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="editEquipmentForm">
                    <input type="hidden" id="editEquipmentId" name="id">

                    <!-- Date of Purchase -->
                    <div class="mb-3">
                        <label for="editModalPurchaseDate" class="form-label fw-bold text-dark">Date Of Purchase:</label>
                        <input type="date" id="editModalPurchaseDate" name="purchaseDate" class="form-control" required>
                    </div>
                
                    <!-- Equipment Name -->
                    <div class="mb-3">
                        <label for="editModalName" class="form-label text-dark fw-bold">Name:</label>
                        <input type="text" id="editModalName" name="name" class="form-control" required>
                    </div>
                
                    <!-- Quantity -->
                    <div class="mb-3">
                        <label for="editModalQuantity" class="form-label fw-bold text-dark">Quantity:</label>
                        <input type="number" id="editModalQuantity" name="quantity" class="form-control" required>
                    </div>
                
                    <!-- Price -->
                    <div class="mb-3">
                        <label for="editModalPrice" class="form-label text-dark fw-bold">Total Cost (Ksh.):</label>
                        <input type="number" id="editModalPrice" name="price" class="form-control" required>
                    </div>

                    <!-- Agent -->
                    <div class="mb-3">
                        <label for="editModalAgent" class="form-label text-dark fw-bold">Agent:</label>
                        <input type="text" id="editModalAgent" name="agent" class="form-control" required>
                    </div>
                </form>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="updateEquipmentButton">Update Equipment</button>
            </div>

        </div>
    </div>
</div>
<!-- / Modal for Editing Equipment -->
<script src="{{url_for('static',filename='js/equipment.js')}}"></script>

{% endblock %}
