{% extends "base.html" %}

{% block title %}Medicine{% endblock %}

{% block content %}
<!--Feeds-->
<div class="card text-white mb-3">
    <img class="card-img lazy" style="filter:brightness(40%); max-height:300px; object-fit:cover; object-position;center;" src="{{url_for('static',filename='auth/img/medicine.jpg')}}" alt="Image">
    <div class="card-img-overlay">
        <h3 class="card-title text-info fw-bold" style="font-family:Times New Roman,Arial;">Medicine</h3>
        <p class="card-text text-white">Ensure the health and well-being of your livestock with a detailed overview of medication schedules, dosages, and inventory levels, all easily accessible in one place.</p>
        <!-- Button to add new cattle -->
        <div class="mb-3">
            <button type="button" class="btn btn-info shadow-sm" data-bs-toggle="modal" data-bs-target="#modalMedicine" id='cattlefeeds'>
                Medicine
            </button>
        </div>
    </div>
</div>

<!-- Modal for medicine -->
<div class="modal fade" id="modalMedicine" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-3 border-info">
            <div class="modal-header">
                <h5 class="modal-title text-info fw-bold">Medicine</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="cattleForm">
                    <!--Date of Buying -->
                    <div class="mb-3">
                        <label for="medicineDate" class="form-label fw-bold text-dark">Date Of Buying:</label>
                        <input type="date" id="medicineDate" class="form-control" required>
                    </div>

                    <!--medicine Name-->
                    <div class="mb-3">
                        <label for="medicineName" class="form-label text-dark fw-bold">Medicine Name:</label>
                        <input type="text" id="medicineName" class="form-control" required>
                    </div>

                    <!--Disease Treated-->
                    <div class="mb-3">
                        <label for="diseaseTreated" class="form-label text-dark fw-bold">Disease:</label>
                        <input type="text" id="diseaseTreated" class="form-control" required>
                    </div>

                    <!--Quantity -->
                    <div class="mb-3">
                        <label for="quantity" class="form-label fw-bold text-dark">Quantity:</label>
                        <input type="text" id="quantity" class="form-control" required>
                    </div>

                    <!--Total Cost-->
                    <div class="mb-3">
                        <label for="cost" class="form-label text-dark fw-bold">Total Cost (Ksh.):</label>
                        <input type="number" id="cost" class="form-control" required>
                    </div>

                    <!-- Notes -->
                    <div class="mb-3">
                        <label for="medicinenotes" class="form-label fw-bold text-dark">Notes:</label>
                        <textarea name='medicinenotes' id='medicinenotes' class='form-control'></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" id="addMedicineButton">Submit</button>
            </div>

        </div>
    </div>
</div>
<!--/ Modal for medicine --> 

<!-- medicine List -->
<div class="mt-5" id='medicine-List'>
    <h3 class="fs-3 text-info fw-bold">Medicine List</h3>
    <div class="card border border-info border-3 shadow-lg cattle-table">
        <!-- medicine History -->
        <div class="card bg-light border-none ">
            <div class="table-responsive text-nowrap border">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-info fw-bold">Date</th>
                            <th class="text-info fw-bold">Medicine Name</th>
                            <th class="text-info fw-bold">Disease treated</th>
                            <th class="text-info fw-bold">Quantity</th>
                            <th class="text-info fw-bold">Cost (Ksh.)</th>
                        </tr>
                    </thead>

                    <tbody id="medicineList">
                        <!-- medicine will be dynamically added here -->
                    </tbody>
                </table>
            </div>
        </div>
        <!--medicine History-->
    </div>
</div>
{% endblock %}