{% if current_user.user_type == 'farmer' %}
    {% extends "base.html" %}   
{% else %}
    {% extends "workerbase.html" %}
{% endif %}

{% block title %}Milk Production{% endblock %}

{% block content %}
    <!-- Modal for Notifications -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border border-2 border-info">
                <div class="modal-header">
                    <h5 class="modal-title text-info fw-bold">Notifications</h5>
                    <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                    <ul id="notificationList" class="list-group">
                        <!-- Notifications will be appended here -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0 text-info fw-bold">MILK PRODUCTION</h5>
                    <small class="text-muted float-end">Daily milk Production</small>
                </div>

                <div class="card-body">
                    <form class='' id="milkProduction">
                        <!--Date-->
                        <div class="mb-3">
                            <label for="date" class="form-label text-dark fw-bold">Date:</label>
                            <input type="date" id="date" class="form-control" required>
                        </div>
                    
                        <!--Serial Number-->
                        <div class="mb-3">
                            <label class="form-label text-dark fw-bold" for="serialNumber">Serial Number:</label>
                            <input type="number" class="form-control" id="serialNumber" placeholder="1" required/>
                        </div>
                    
                        <!--Cattle Breed-->
                        <div class="mb-3">
                            <label for="breed" class="form-label text-dark fw-bold">Breed:</label>
                            <select class="form-control" name="breed" id="breed" required>
                                <option value="Holstein_Friesian">Holstein Friesian</option>
                                <option value="Jersey">Jersey</option>
                                <option value="Guernsey">Guernsey</option>
                                <option value="Brown_Swiss">Brown Swiss</option>
                                <option value="Ayrshire">Ayrshire</option>
                                <option value="Milking_Shorthorn">Milking Shorthorn</option>
                                <option value="Dutch_Belted">Dutch Belted (Lakenvelder)</option>
                                <option value="Red_White_Holstein">Red and White Holstein</option>
                                <option value="Montbéliarde">Montbéliarde</option>
                                <option value="Swedish_Red_White">Swedish Red and White</option>
                            </select>
                        </div>
                    
                        <!--Milk Liters-->
                        <div class="mb-3">
                            <label class="form-label text-dark fw-bold" for="milkLiters">Milk In Liters:</label>
                            <input type="number" class="form-control" id="milkLiters" required/>
                        </div>
                    
                        <!--Given to Calf-->
                        <div class="mb-3">
                            <label class="form-label text-dark fw-bold" for="givenToCalf">Given to Calf (Liters):</label>
                            <input type="number" class="form-control" id="givenToCalf"/>
                        </div>
                    
                        <!--Consumed by Staff-->
                        <div class="mb-3">
                            <label class="form-label text-dark fw-bold" for="consumedByStaff">Consumed by Staff (Liters):</label>
                            <input type="number" class="form-control" id="consumedByStaff"/>
                        </div>
                    
                        <!--Spillage-->
                        <div class="mb-3">
                            <label class="form-label text-dark fw-bold" for="spillage">Spillage (Liters):</label>
                            <input type="number" class="form-control" id="spillage"/>
                        </div>
                    
                        <!--Spoiled-->
                        <div class="mb-3">
                            <label class="form-label text-dark fw-bold" for="spoiled">Spoiled (Liters):</label>
                            <input type="number" class="form-control" id="spoiled"/>
                        </div>
                    
                        <!--Worker Id-->
                        <div class="mb-3">
                            <label class="form-label text-dark fw-bold" for="workerId">Worker Number:</label>
                            <input type="number" class="form-control" id="workerId" placeholder="1" required/>
                        </div>
                    
                        <button type="submit" class="btn btn-info" id="submit">Submit</button>
                    </form>
                    
                </div>

            </div>
        </div>
    </div>


    <!-- Cattle List -->
    <div class="mt-5">
        <h3 class="text-info fw-bold text-center">Milk Production History</h3>
        <div class="card border border-info border-1 shadow-lg cattle-table">
            <!-- Milk Production History -->
            <div class="card bg-light border-none ">
                <div class="table-responsive text-nowrap border">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-info fw-bold">Date</th>
                                <th class="text-info fw-bold">Serial Number</th>
                                <th class="text-info fw-bold">Name</th>
                                <th class="text-info fw-bold">Breed</th>
                                <th class="text-info fw-bold">Litres</th>
                                <th class="text-info fw-bold">Delete</th>
                                
                            </tr>
                        </thead>

                        <tbody id="milkList">
                            <!-- Cattle items will be dynamically added here -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Cattle History-->
        </div>
    </div>
    <script src="{{url_for('static',filename='js/milkproduction.js')}}"></script>

{% endblock %}