{% if current_user.user_type == 'farmer' %}
    {% extends "base.html" %}   
{% else %}
    {% extends "workerbase.html" %}
{% endif %}

{% block title %}Milk Sales{% endblock %}

{% block content %}
<!-- Modal for Notifications -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-1 border-info">
            <div class="modal-header">
                <h5 class="modal-title text-info fw-bold">Notifications</h5>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <ul id="notificationList" class="list-group">
                    <!-- Notifications will be appended here -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    
    <!--Add Sale Card-->
    <div class="col mb-3">
        <div class="card text-white mb-3 border border-info border-1 shadow-lg">
            <img class="card-img lazy" style="filter:brightness(70%); max-height:300px; object-fit:cover; object-position:center;" src="{{url_for('static',filename='auth/img/service-2.jpg')}}" alt="Image">

            <div class="card-img-overlay">
                <h3 class="card-title text-info fw-bold" style="font-family:Times New Roman,Arial;">SALES</h3>
                <p class="card-text text-white">Track and optimize your dairy farm's revenue with our comprehensive milk sales management feature, ensuring accurate recording and analysis of all sales transactions.</p>

                <!-- Button to add new Sale -->
                <div class="mb-5">
                    <button type="button" class="btn btn-info shadow-sm" data-bs-toggle="modal" data-bs-target="#modalMilkSales" id='milkSales'>
                        Add Sale
                    </button>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal for sales -->
    <div class="modal fade" id="modalMilkSales" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border border-1 border-info">
                <div class="modal-header">
                    <h5 class="modal-title text-info fw-bold text-center">Sales</h5>
                    <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="salesForm">
                        <!--Customer Name-->
                        <div class="mb-3">
                            <label for="buyerName" class="form-label fw-bold text-dark">Buyer Name:</label>
                            <input class="form-control" type="text" name='buyerName' id="buyerName">
                        </div>

                        <!--Date -->
                        <div class="mb-3">
                            <label for="date" class="form-label fw-bold text-dark">Date:</label>
                            <input class="form-control" type="date" name='date' id="date">
                        </div>

                        <!--Total Liters -->
                        <div class="mb-3">
                            <label for="quantity" class="form-label fw-bold text-dark">Milk Sold(Ltr):</label>
                            <input class="form-control" type="number" name='quantity' id="quantity">
                        </div>

                        <!--Price per litre -->
                        <div class="mb-3">
                            <label for="pricePerLitre" class="form-label fw-bold text-dark">Price per Litre:</label>
                            <input class="form-control" type="number" name='pricePerLitre' id="pricePerLitre">
                        </div>



                        <!--Buyer Type -->
                        <div class="mb-3">
                            <label for="buyerType" class="form-label fw-bold text-dark">Buyer Type:</label>
                            <input class="form-control" type="text" name='buyerType' id="buyerType">
                        </div>

                        <!--Buyer Contact -->
                        <div class="mb-3">
                            <label for="buyerCOntact" class="form-label fw-bold text-dark">Buyer Contact:</label>
                            <input class="form-control" type="text" name='buyerCOntact' id="buyerCOntact">
                        </div>

                        <!--SOld By -->
                        <div class="mb-3">
                            <label for="soldBy" class="form-label fw-bold text-dark">Sold By:</label>
                            <input class="form-control" type="text" name='soldBy' id="soldBy">
                        </div>

                        <!-- NOtes -->
                        <div class="mb-3">
                            <label for="notes" class="form-label fw-bold text-dark">Notes:</label>
                            <input class="form-control" type="text" name='notes' id="notes">
                        </div>

                        

                        </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" id="addSale">Add Sale</button>
                </div>

            </div>
        </div>
    </div>
    <!--/ Modal for sales -->

    <!-- Sales List -->
    <div class="mt-5" id='sales-List'>
        <h3 class="fs-3 text-info fw-bold text-center">Sales List</h3>
        <div class="card border border-info border-1 shadow-lg cattle-table">
            <!-- Sales History -->
            <div class="card bg-light border-none ">
                <div class="table-responsive text-nowrap border">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-info fw-bold">Date</th>
                                <th class="text-info fw-bold">Total Litres</th>
                                <th class="text-info fw-bold">Price/Ltr</th>
                                <th class="text-info fw-bold">Total</th>
                                <th class="text-info fw-bold">Agent/Organisation</th>
                            </tr>
                        </thead>

                        <tbody id="salesList">
                            <!-- Sales will be dynamically added here -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Sales History-->
        </div>
    </div>
</div>
<script src="{{url_for('static',filename='js/sales.js')}}"></script>

{% endblock %}